<!DOCTYPE html>
<html lang="en" ng-app="Registrar">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Employees Registrar</title>
        <!--BOWER_COMPONENTS_CSS_START-->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
        <!--BOWER_COMPONENTS_CSS_END-->
        <!--CUSTOM_CSS_START-->
        <link rel="stylesheet" href="client.css" />
        <!--CUSTOM_CSS_END-->
    </head>
    <body ng-cloak ng-controller="RegVM as vm">
        <div class="container">
            <h1>Employees Registrar</h1>
            <span theTimeNow="vm.format">Format: {{vm.format}}</span>
            <div class="jumbotron">
                <form name="vm.searchForm" ng-submit="vm.searchEmployees()">
                    <div class="form-group col-md-6 keyword">
                        <input type="text" class="form-control" ng-model="vm.searchKeyword" placeholder="Search by first name, e.g. Kenneth" />
                    </div>
                    <button type="submit" class="btn btn-success">
                        Submit
                    </button>
                    <button type="button" class="btn btn-info" ng-click="vm.addEmployee()">
                        Add an employee
                    </button>
                </form>
            </div>
            <div class="container list" ng-show="vm.employees">
                <h2 class="row">Results</h2>
                <!-- Pagination -->
                <div class="row" ng-show="vm.employees.length > 0">
                    <div class="col-sm-12 col-md-12 col-lg-12 list header">
                        <ul uib-pagination total-items="vm.pages.totalItems" ng-model="vm.pages.currentPage" items-per-page="vm.pages.itemsPerPage" class="pagination-sm" max-size="vm.pages.maxsize" boundary-link-numbers="true" rotate="false" ng-change="vm.pages.changed()"></ul>
                    </div>
                </div>
                <!-- End: Pagination -->
                <div class="row">
                    <h3 class="alert alert-info" ng-show="vm.searched">{{vm.searchedSummary}}</h3>
                    <hr />
                    <div class="col-sm-4 col-md-4 col-lg-3 employee" ng-repeat="employee in vm.employees">
                        <div class="row" style="margin-bottom: 50px;">
                            <img class="employee-avatar" src="{{employee.photourl}}" alt="Profile picture of {{employee.first_name}} {{employee.last_name}}" />
                            <h4>ID: {{employee.emp_no}}</h4>
                            <h4>First name: {{employee.first_name}}</h4>
                            <h4>Last name: {{employee.last_name}}</h4>
                            <h4>DOB: {{employee.birth_date | date: medium}}</h4>
                            <h4>Gender: {{employee.gender | customGender}}</h4>
                            <h4>Date of hire: {{employee.hire_date | date: long}}</h4>
                            <button class="btn btn-primary" type="button" ng-click="vm.editEmployee(employee)">
                                Edit
                            </button>
                            <button class="btn btn-danger" type="button" ng-click="vm.deleteEmployee(employee)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!--Place JS scripts after this line-->
    <!--BOWER_COMPONENTS_JS_START-->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!--BOWER_COMPONENTS_JS_END-->
    <!--CUSTOM_JS_START-->
    <script type="text/javascript" src="client.js"></script>
    <script type="text/javascript" src="client.filter.js"></script>
    <script type="text/javascript" src="time.directive.js"></script>
    <script type="text/javascript" src="client.service.js"></script>
    <script type="text/javascript" src="registrar.vm.js"></script>
    <!--CUSTOM_JS_END-->
</html>