<div class="employee-add">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            Adding new record
        </h3>
    </div>
    <div class="modal-body" id="modal-body" style="height: 500px;">
        <form name="vm.addForm" class="col-md-6" required>
            <div class="form-group">
                <label for="first_name">
                    First name
                </label>
                <input type="text" class="form-control" id="first_name" ng-model="vm.add.first_name" ng-value="vm.add.first_name" placeholder="First name" />
                <div ng-show="vm.addForm.first_name.$touched || vm.addForm.$submitted">
                    <div ng-show="vm.addForm.first_name.$error.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Mandatory fields cannot be left blank
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name">
                    Last name
                </label>
                <input type="text" ng-model="vm.add.last_name" ng-value="vm.add.last_name" class="form-control" id="last_name" placeholder="Last name">
                <div ng-show="vm.addForm.last_name.$touched || vm.addForm.$submitted">
                    <div ng-show="vm.addForm.last_name.$error.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Mandatory fields cannot be left blank
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender">
                    Gender
                </label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="gender" class="form-check-input" type="radio" id="gender-m" ng-checked="vm.add.gender == 'M'" ng-model="vm.add.gender" value="M" required
                        /> Male
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="gender" class="form-check-input" type="radio" id="gender-f" ng-checked="vm.add.gender == 'F'" ng-model="vm.add.gender" value="F" required
                        /> Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="birth_date">Birthday</label>
                <input type="text" class="form-control" id="birth_date" ng-model="vm.add.birth_date" ng-value="vm.add.birth_date"/>
            </div>
            <div class="hire_date">
                <label for="hire_date">Hire date</label>
                <input type="text" class="form-control" id="hire_date" ng-model="vm.add.hire_date" ng-value="vm.add.hire_date"/>
            </div>
            <div>
                <label for="photourl">Avatar URL</label>
                <input class="form-control" type="text" id="photourl" ng-model="vm.add.photourl" ng-value="vm.add.photourl" placeholder="Photo URL"/>
            </div>
            <hr />
            <button type="submit" class="btn btn-success" ng-click="vm.addRecord()">
                Create new record
            </button>
        </form>
    </div>
    <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="vm.autoFillDummy()">
            Auto-fill dummy record
        </button>
        <button type="button" class="btn btn-secondary" ng-click="vm.closeModal()">
            Close
        </button>
    </div>
</div>
